/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap');
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --cor-secundaria: rgb(31, 27, 27);
    --input-background-color-gray: #ecf0f1;
    --input-background-color-white: #fff;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(224, 224, 224);
}

#divTitle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
}

#Title {
    font-size: calc(32px + 0.390625vw);
    text-align: center;
    font-weight: 800;
}

.div-voltar {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-right: 3%;
    position: absolute;
}

.container-sidea {
    width: auto;
    height: 100%;
}

.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.content {
    background-color: #fff;
    border-radius: 15px;
    width: 60%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 5px 5px 15px 5px #00000038;
}
.content::before {
    content: "";
    position: absolute;
    background-color: #292323;
    width: 45%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;





    left: 0;
}

.campo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row;
    width: 100%;
}

.input_entrada {
    padding-left:5px;
    background-color: var(--input-background-color-gray);
}

.div_entrada {
    margin-bottom: 1%;
    border: 1px solid #c9c9c9;
    border-radius: 7px;
    width: 100%;
    transition: border-color .4s;
}

.div_cadastro {
    width: 80%;
}

.input_entrada:focus {
    outline: none;
    background-color: var(--input-background-color-white);
}

.div_entrada:focus-within {
    border-color: #000;
}

.div_atributo {
    width: 100px;
    padding-right: 2%;
}

.div_atributo > label {
    text-align: right;
    display: block;
    width: auto;
    margin: 0;
    font-weight: 400;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.title-login {
    font-size: calc(20px + 0.390625vw);
    font-weight: bold;
    /*text-transform: capitalize;*/
}
.title-primary {
    color: #fff;
    padding-bottom: 20px;
}
.title-second {
    color: var(--cor-secundaria);
    font-weight: 800;
    padding-bottom: 50px;
    font-size: calc(32px + 0.390625vw);
}
.description {
    font-size: calc(10px + 0.390625vw);
    font-weight: 300;
    line-height: 20px;
}
.description-primary {
    color: #fff;
}
.description-second {
    color: #7f8c8d;
}

.button {
    width: 70%;
    height: 80%;
    border-radius: 10px;
    text-transform: uppercase;
    color: #fff;
    font-size: calc(12px + 0.390625vw);
    cursor: pointer;
    font-weight: bold;
    align-self: center;
    border-width: 0;
}

.btn-primary {
    font-weight: 600;
    background-color: var(--cor-secundaria);
    transition: background-color .5s;
    box-shadow: 0 0 15px 5px #00000038;
}
.btn-primary:hover {
    background-color: #fff;
    color: var(--cor-secundaria);
}
.btn-second {
    margin-top: 25%;
    font-weight: 600;
    color: #000;
    background-color: #fff;
    transition: background-color .5s;
    font-size: calc(10px + 0.390625vw);
}
.btn-second:hover {
    background-color: #000a44;
    color: #fff;
}

.div-btn-cadastro {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    height: calc(50px + 0.390625vw);
}

.div-btn-login {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 0;
    width: 100%;
    height: calc(50px + 0.390625vw);
}

.div-btn-login > a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    padding: 0;
}

.div-btn-login > a > .btn-primary {
    width: 70%;
    height: 80%;
    margin: auto;
}


.div-btn-login > a > .btn-second {
    width: 40%;
    height: 80%;
    margin: auto;
    margin-top: 2rem;
}

.btn-cadastro {
    margin-left: 27%;
}

.first-content {
    display: flex;
}
.first-content .second-column {
    z-index: 12;
}
.first-column {
    text-align: center;
    width: 48%;
    z-index: 10;
}
.second-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-media {
    margin: 1rem 0;
}
.link-social-media .item-social-media {
    transition: background-color 2s;
}
.link-social-media:not(:first-child){
    margin-left: 10px;
}
.link-social-media:hover .item-social-media {
    background-color: var(--cor-secundaria);
    color: #fff;
    border-color: #5b5b5b;
}
.list-social-media {
    display: flex;
    list-style-type: none;
}
.item-social-media {
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #95a5a6
}
.form {
    display: flex;
    flex-direction: column;
    width: 55%;
    align-items: center;
    
}
.form input {
    height: 30px;
    border: none;
    width: 100%;
    background-color: rgb(243, 239, 239); 
}

.form input::placeholder {
    font-size: calc(10px + 0.390625vw);
}

.formCadastro {
    width: 350px;
    margin-left: -15%;
}

input:-webkit-autofill {
    --webkit-box-shadow: 0 0 0px 1000px #ecf0f1 inset !important;
    --webkit-text-fill-color: #000 !important;
}
.label-input {
  background-color: var(--input-background-color-gray); 
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 7px;
  padding: 2px;
}

.label-input:focus-within {
    background-color: var(--input-background-color-white); 
}

.icon-modify {
    color: #7f8c8d;
    padding: 0 5px;
}

/******* Second Content ******/

.second-content {
    position: absolute;
    display: flex;
}
.second-content .first-column {
    order: 2;
    z-index: -1;
}
.second-content .second-column {
    order: 1;
    z-index: -1;
}
.password {
    font-size: calc(14px + 0.390625vw);
    color: #34495e;
    margin: 15px 0;
    text-align: center;
}

.sign-in-js .first-content .first-column {
    z-index: -1;
}
.sign-in-js .second-content .second-column {
    z-index: 12;
}
.sign-in-js .second-content .first-column {
    z-index: 14;
}
.sign-in-js .content::before {
    left: 60%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 3s;
    z-index: 13;
}
.sign-up-js .content::before {
    animation: slideout 3s;
    z-index: 13;
}
.sign-up-js .second-content .first-column,
.sign-up-js .second-content .second-column {
    z-index: -1;
}
.sign-up-js .first-content .second-column {
    z-index: 12;
}
.sign-up-js .first-content .first-column {
    z-index: 14;
}

/* Deslocamento de conteúdo atrás do content:before */
.sign-in-js .first-content .second-column {
    z-index: -1;
    position: relative;
    animation: deslocamentoEsq 3s;
}
.sign-up-js .second-content .second-column {
    position: relative;
    z-index: -1;
    animation: deslocamentoDir 3s;
}
/* Anicação Css de Conteúdo */
@keyframes deslocamentoEsq {
    from {
        left: 0;
        opacity: 1;
        z-index: 12;
    }
    25%{
        left: -80px;
        opacity: .5;
        z-index: 12;
    }
    50%{
        left: -100px;
        opacity: .2;
        z-index: 12;
    }
    to {
        left: -110px;
        opacity: 0;
        z-index: -1;
    }
}

@keyframes deslocamentoDir {
    from {
        left: 0;
        z-index: 13;
    }
    25%{
        left: 80px;
        z-index: 12;
    }
    50%{
        left: 100px; 
        z-index: 12;
    }
    to {
        left: -50px;
        z-index: -2; 
    }
}
/*** Animação Css ***/

@keyframes slidein {
    from  {
       left: 0;
       width: 40%; 
    }
    25% {
        left: 5%;
        width: 50%;
    }
    50% {
        left: 25%;
        width: 60%;
    }
    75% {
        left: 45%;
        width: 50%;
    }
    to {
        left: 60%;
        width: 40%;
    }
}

@keyframes slideout {
    from  {
        left: 60%;
        width: 40%;
    }
    25% {
        left: 45%;
        width: 50%;
    }
    50% {
        left: 25%;
        width: 60%;
    }
    75% {
        left: 5%;
        width: 50%;
    }
    to {
        left: 0;
        width: 40%;
        
    }
}