<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="../../static/visualizarDenuncia/css/visualizarDenuncia.css"
        th:href="@{'/css/visualizarDenuncia.css'}">
    <title>Visualizar Denúncias Ambientais</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th{
            border: 1px solid #ddd;
            text-align: center;
        }
    </style>
</head>

<body>

    <h1>Denúncias Ambientais</h1>

    <form class="form" action="../denuncia/visualizar" method="post">

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Protocolo</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" autocomplete="off" name="protocolo">
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Município</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" autocomplete="off" name="municipio">
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <label class="label" for="categoria">Categoria</label>
            <select tabindex="1" id="categoria" name="categoria">
                <option value="0">Fauna</option>
                <option value="1">Flora</option>
                <option value="2">Poluição</option>
                <option value="3">Ornamento urbano e patrimônio cultural</option>
                <option value="4">Administração ambiente</option>
            </select>
        </div>

        <div class="field is-horizontal">
            <label class="label" for="data_ocorrido">Data da ocorrência</label>
            <input class="input" type="date" id="data_ocorrido" name="data_ocorrido" autocomplete="off">
        </div>

        <div class="field is-horizontal">
            <label class="label" for="data_denuncia">Data da denúncia</label>
            <input class="input" type="date" id="data_denuncia" name="data_denuncia" autocomplete="off">
        </div>

        <div class="field is-horizontal">
            <label class="label" for="status">Status</label>
            <select tabindex="1" id="status" name="status">
                <option value="0">Aguardando atendimento</option>
                <option value="1">Em atendimento</option>
                <option value="2">Finalizada</option>
            </select>
        </div>
        <button type="submit">Filtrar</button>

    </form>
<div th:if="${logado.isAnalista(logado)}">
    <a th:href="@{'/denuncia/visualizar/abertas'}">
        <button id="denunciasEmAberto" class="button btn-second" >
            Denuncias aguardando atendimento
        </button>
    </a>
</div>
<div class="table-container">
    <table class="table is-striped is-vcentered">
        <thead class="is-vcentered">
        <tr>
            <th>Protocolo</th>
            <th>Município</th>
            <th>Bairro</th>
            <th>Logradouro</th>
            <th>Categoria</th>
            <th>Data do Ocorrido</th>
            <th>Data de abertura</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody class="is-vcentered">
        <tr th:each="denuncia : ${ListDen}">
            <td th:text="${denuncia.protocolo}"></td>
            <td th:text="${denuncia.municipio}"></td>
            <td th:text="${denuncia.bairro}"></td>
            <td th:text="${denuncia.logradouro}"></td>
            <td th:text="${denuncia.atividade}"></td>
            <td th:text="${denuncia.data_ocorrido}"></td>
            <td th:text="${denuncia.data_denuncia}"></td>
            <td th:text="${denuncia.status}"></td>
            <td>
                <a th:href="@{'/denuncia/' + ${denuncia.id} + '/visualizar'}">
                    <button id="Ver" class="button btn-second">
                        editar
                    </button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</body>

</html>