<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Denuncia</title>
    <!-- Adicione links para seus estilos ou folhas de estilo aqui -->
</head>
<body>

<h2>Cadastro de Denuncia</h2>

<form action="../denuncia" method="post" enctype="multipart/form-data">

    <!-- Campo Sigilo -->
    <label>Cadastro em Siligo: </label>
    <select class="js-example-basic-single" name="sigilo">
        <option value=1>Sim</option>
        <option value=0>Não</option>
    </select>
    <br>

    <!-- Campo CEP -->
    <label for="cep">CEP:</label>
    <input type="text" id="cep" name="cep" autocomplete="CEP" required>

    <br>

    <!-- Campo Logradouro -->
    <label for="logradouro">Logradouro:</label>
    <input type="Logradouro" id="logradouro" autocomplete="Logradouro" name="logradouro" required>
    <br>

    <!-- Campo Categoria -->
    <label>Categoria da Denuncia: </label>
    <select class="js-example-basic-single" name="atividade">
        <option value="Fauna">Fauna</option>
        <option value="Flora">Flora</option>
        <option value="Poluição">Poluição</option>
        <option value="Ornamento Urbano e Patrimônio Cultural">Ornamento Urbano e Patrimônio Cultural</option>
        <option value="Administração Ambiente">Administração Ambiente</option>
    </select>

    <br>

    <!-- Campo Subcategoria -->
    <label>Subcategoria da Denuncia: </label>
    <select class="js-example-basic-single" name="categoria">
        <option value="Fauna">Fauna</option>
        <option value="Flora">Flora</option>
        <option value="Poluição">Poluição</option>
        <option value="Ornamento Urbano e Patrimônio Cultural">Ornamento Urbano e Patrimônio Cultural</option>
        <option value="Administração Ambiente">Administração Ambiente</option>
    </select>

    <br>

    <!-- Campo Bairro -->
    <label for="bairro">Bairro:</label>
    <input type="text" id="bairro" name="bairro" autocomplete="bairro" required>

    <br>

    <!-- Campo Municipio -->
    <label for="municipio">Municipio:</label>
    <input type="text" id="municipio" name="municipio" autocomplete="municipio" required>

    <br>

    <!-- Campo Referencia -->
    <label for="referencia">Referencia:</label>
    <input type="text" id="referencia" name="referencia" autocomplete="Referencia" required>

    <br>

    <!-- Campo Latitude -->
    <label for="latitude">Latitude:</label>
    <input type="text" id="latitude" name="latitude" autocomplete="Latitude" required>

    <br>

    <!-- Campo Longitude -->
    <label for="longitude">Longitude:</label>
    <input type="text" id="longitude" name="longitude" autocomplete="Longitude" required>

    <br>

    <!-- Campo Data do Ocorrido -->
    <label for="dataDoOcorrido">Data do Ocorrido:</label>
    <input type="date" id="dataDoOcorrido" name="dataDoOcorrido" autocomplete="Data do Ocorrido" required>

    <br>

    <!-- Campo Descrição -->
    <label for="descricao">Descrição:</label>
    <input type="text" id="descricao" name="descricao" autocomplete="Descrição" required>

    <br>

    <!-- Campo Provavel Criminoso -->
    <label for="provavelCriminoso">Provavel Criminoso:</label>
    <input type="text" id="provavelCriminoso" name="provavelCriminoso" autocomplete="Provavel Criminoso" required>

    <br>

    <label for="formFile" class="form-label obrigatorio">Evidência</label>
    <input class="form-control" type="file" id="formFile" name="imagem" >

    <!-- Campo Outras Informações -->
    <label for="outrasInformacoes">Outras Informações:</label>
    <input type="text" id="outrasInformacoes" name="outrasInformacoes" autocomplete="Outras Informações" required>

    <br>

    <!-- Botão de Envio -->
    <button type="submit">Cadastrar</button>
    <!-- Campo Anexo -->

</form>
</body>
</html>