<!DOCTYPE html>
<html lang="pt-br">
    <head th:replace="~{base/base-elem :: head-padrao}"></head>

    <head>
        <title>Visualizar Denúncias Ambientais - SIDEA</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" href="../../static/css/denuncias.css" th:href="@{'/css/denuncias.css'}">
    </head>

    <body>
        <!-- <header th:replace="~{base/base-elem :: header}"></header>

        <div class="bot-header-div">
            <aside th:replace="~{base/base-elem :: sidebar}"></aside> -->
                        
            <div class="content">
                <div class="content-sidea">
                        <h1 class="title is-1 title-form">Denúncias Ambientais</h1>

                <div class="content-principal">
                    <div class="table-container">
                        <table class="table is-striped is-vcentered">
                            <thead class="is-vcentered">
                            <tr>
                                <th>Protocolo</th>
                                <th>Município</th>
                                <th>Bairro</th>
                                <th>Logradouro</th>
                                <th>Categoria</th>
                                <th>Data do Ocorrido</th>
                                <th>Data de abertura</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody class="is-vcentered">
                            <tr th:each="denuncia : ${ListDen}">
                                <td th:text="${denuncia.protocolo}"></td>
                                <td th:text="${denuncia.municipio}"></td>
                                <td th:text="${denuncia.bairro}"></td>
                                <td th:text="${denuncia.logradouro}"></td>
                                <td th:text="${denuncia.atividade}"></td>
                                <td th:text="${denuncia.data_ocorrido}"></td>
                                <td th:text="${denuncia.data_denuncia}"></td>
                                <td th:text="${denuncia.status}"></td>
                                <td>
                                    <a th:href="@{'/denuncia/' + ${denuncia.id} + '/visualizar'}">
                                        <button id="Ver" class="button btn-second">
                                            Entrar
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="content-outside-form">
                        <form class="form" action="/denuncia/visualizar/filtro/protocolo" method="post">

                                    <div class="field">
                                        <div class="field-label is-normal">
                                            <label class="label">Protocolo:</label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="control">
                                                    <input class="input" type="text" autocomplete="off" name="filtro">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="button is-primary" type="submit">Filtrar</button>
                                </form>

                        <form class="form" action="/denuncia/visualizar/filtro/municipio" method="post">
    
                            <div class="field">
                                <div class="field-label is-normal">
                                    <label class="label">Município:</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="field-label is-normal">
                                            <label class="label">Município:</label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="control">
                                                    <input class="input" type="text" autocomplete="off" name="filtro">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="button is-primary" type="submit">Filtrar</button>
                                </form>

                        <form class="form" action="/denuncia/visualizar/filtro/categoria" method="post">
                            <div class="field">
                                <div class="field-label is-normal">
                                    <label class="label">Categoria da Denuncia:</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="field-label is-normal">
                                            <label class="label">Categoria da Denuncia:</label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="select">
                                                    <select tabindex="5" id="categoria" name="filtro">
                                                        <option value="Fauna">Fauna</option>
                                                        <option value="Flora">Flora</option>
                                                        <option value="Poluição">Poluição</option>
                                                        <option value="Ornamento Urbano e Patrimônio Cultural">Ornamento Urbano e Patrimônio Cultural</option>
                                                        <option value="Administração Ambiente">Administração Ambiente</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="button is-primary" type="submit">Filtrar</button>
                                </form>

                        <form class="form" action="/denuncia/visualizar/filtro/data_ocorrencia" method="post">
    
                            <div class="field">
                                <div class="field-label is-normal">
                                    <label class="label">Data da ocorrência:</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="field-label is-normal">
                                            <label class="label">Data da ocorrência:</label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="control">
                                                    <input class="input" type="date" id="data_ocorrido" autocomplete="off" name="filtro">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="button is-primary" type="submit">Filtrar</button>
                                </form>

                        <form class="form" action="/denuncia/visualizar/filtro/data_denuncia" method="post">
    
                            <div class="field">
                                <div class="field-label is-normal">
                                    <label class="label">Data da Denúncia:</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="field-label is-normal">
                                            <label class="label">Data da Denúncia:</label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="control">
                                                    <input class="input" type="date" id="data_denuncia" autocomplete="off" name="filtro">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="button is-primary" type="submit">Filtrar</button>
                                </form>

                        <form class="form" action="/denuncia/visualizar/filtro/status" method="post">
    
                            <div class="field">
                                <div class="field-label is-normal">
                                    <label class="label">Status:</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="select">
                                            <select tabindex="1" id="status" name="filtro">
                                                <option value="Aguardando atendimento">Aguardando atendimento</option>
                                                <option value="Em atendimento">Em atendimento</option>
                                                <option value="Finalizada">Finalizada</option>
                                            </select>
                                        </div>
                                    </div>
                                    <button class="button is-primary" type="submit">Filtrar</button>
            
                                </form>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        
        <div th:replace="~{base/base-elem :: script-padrao}"></div>
        <script th:src="@{'/js/denuncias.js'}" src="../../static/js/denuncias.js"></script>
    </body>
</html>