<!DOCTYPE html>
<html lang="pt-br">
    <head th:replace="~{base/base-elem :: head-padrao}"></head>

    <head>
        <title>Acompanhamento de Denúncia - SIDEA</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" href="../../static/css/denuncia.css" th:href="@{'/css/denuncia.css'}">
    </head>

    <body>
        <header th:replace="~{base/base-elem :: header}"></header>

        <div class="bot-header-div">
            <aside th:replace="~{base/base-elem :: sidebar}"></aside>
            
            <div class="content">
                <div class="content-sidea">

                    <div class="content-form">
                        <h1 class="title is-1 title-form">Acompanhamento de Denúncia</h1>

                        <form class="form" th:action="'../'+${denuncia.id} + '/visualizar/salvar'" method="post" enctype="multipart/form-data">
                            <!-- Campo Sigilo -->
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Cadastro em Siligo:</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <input tabindex="1" th:value="${denuncia.sigilo}" class="input" type="text" name="sigilo"
                                                autocomplete="off" required disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Campo Descrição -->
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Descrição:</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <textarea tabindex="2" th:text="${denuncia.descricao}" class="textarea" name="descricao"  required disabled></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Campo CEP -->
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">CEP:</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <input tabindex="3" th:value="${denuncia.CEP}" class="input" type="text" id="cep"
                                                name="cep" autocomplete="off" required disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Campo Logradouro -->
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Logradouro:</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <input tabindex="4" th:value="${denuncia.logradouro}" class="input" type="text"
                                                id="logradouro" autocomplete="off" name="logradouro" required disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Campo Categoria -->
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Categoria da Denuncia:</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <input tabindex="5" th:value="${denuncia.atividade}" class="input" type="text"
                                                autocomplete="off" name="atividade" required disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Campo Subcategoria -->
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Subcategoria da Denuncia:</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <input tabindex="6" th:value="${denuncia.categoria}" class="input" type="text"
                                                autocomplete="off" name="categoria" required disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Campo Bairro -->
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Bairro:</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <input tabindex="7" th:value="${denuncia.bairro}" class="input" type="text" id="bairro"
                                                name="bairro" autocomplete="off" required disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Campo Municipio -->
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Municipio:</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <input tabindex="8" th:value="${denuncia.municipio}" class="input" type="text"
                                                id="municipio" name="municipio" autocomplete="off" required disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Campo Referencia -->
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Referencia:</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <input tabindex="9" th:value="${denuncia.referencia}" class="input" type="text"
                                                id="referencia" name="referencia" autocomplete="off" required disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Campo Latitude -->
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Latitude:</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <input tabindex="10" th:value="${denuncia.latitude}" class="input" type="text"
                                                id="latitude" name="latitude" autocomplete="off" required disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Campo Longitude -->
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Longitude:</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <input tabindex="11" th:value="${denuncia.longitude}" class="input" type="text"
                                                id="longitude" name="longitude" autocomplete="off" required disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Campo Data do Ocorrido -->
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Data do Ocorrido:</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <input tabindex="12" th:value="${denuncia.data_ocorrido}" class="input" type="date"
                                                id="dataDoOcorrido" name="dataDoOcorrido" autocomplete="off" required disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Campo Provavel Criminoso -->
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Provavel Criminoso:</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <input tabindex="13" th:value="${denuncia.provavel_criminoso}" class="input" type="text"
                                                id="provavelCriminoso" name="provavelCriminoso" autocomplete="off" required
                                                disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Campo Anexos -->
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Evidência:</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <div class="file has-name">
                                                <label tabindex="14" class="file-label">
                                                    <a th:href="@{'/denuncia/' + ${denuncia.id} + '/visualizar/imagem'}">
                                                        <button tabindex="17" class="button is-link is-light" type="button">Baixar Anexo</button>
                                                    </a>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <!-- Campo Outras Informações -->
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Outras Informações:</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <textarea tabindex="15" class="textarea" name="outrasInformacoes" th:text="${denuncia.outras_informacoes}"
                                                required disabled></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div th:if="${logado.isAnalista(logado)}">
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Parecer Técnico</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <textarea tabindex="15" class="textarea" name="parecer_tec" th:text="${denuncia.parecer_tec}" id="textarea-parecer-tecnico"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div th:if="${logado.isAnalista(logado)}">
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Status da denuncia:</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="select">
                                            <select tabindex="1" name="status" id="select-status">
                                                <option value="Aguardando atendimento">Aguardando atendimento</option>
                                                <option value="Em atendimento">Em atendimento</option>
                                                <option value="Finalizada">Finalizada</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Botão de Envio -->
                            <div class="field is-grouped">
                                <div class="control">
                                    <a th:href="@{'/denuncia/visualizar'}">
                                        <button tabindex="17" class="button is-link is-light" type="button">Voltar</button>
                                    </a>
                                </div>
                                <div th:if="${logado.isAnalista(logado)}">
                                    <div class="control">
                                        <button tabindex="16" class="button is-link" type="submit">Salvar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="~{base/base-elem :: script-padrao}"></div>
        <script th:src="@{'/js/visualizarDenuncia.js'}" src="../../static/js/visualizarDenuncia.js"></script>
    </body>

</html>