<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="../../static/visualizarDenuncia/css/visualizarDenuncia.css"
          th:href="@{'/css/visualizarDenuncia.css'}">
    <title>Visualizar Denúncias Ambientais</title>
<style>
    body {
        font-family: Arial, sans-serif;
        text-align: center;
        margin: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
</style>
</head>
<body>

<h1>Denúncias Ambientais</h1>

<table>
    <tr>
        <th>Sigilo</th>
        <th>CEP</th>
        <th>Logradouro</th>
        <th>Categoria</th>
        <th>Subcategoria</th>
        <th>Bairro</th>
        <th>Município</th>
        <th>Referência</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Data do Ocorrido</th>
        <th>Descrição</th>
        <th>Provável Criminoso</th>
        <th>Encerrado</th>
        <!-- Adicione outras informações conforme necessário -->
    </tr>

    <!-- Exemplo de uma denúncia -->
    <tr>
        <td>sSim</td>
        <td>12345-678</td>
        <td>Rua Exemplo, 123</td>
        <td>Poluição</td>
        <td>Lixo Descartado Irregularmente</td>
        <td>Bairro Exemplo</td>
        <td>Cidade Exemplo</td>
        <td>Próximo ao Parque Exemplo</td>
        <td>-23.550520</td>
        <td>-46.633308</td>
        <td>01/01/2023</td>
        <td>Descrição detalhada da denúncia.</td>
        <td>Nome ou descrição do possível criminoso.</td>
        <!-- Adicione outras informações conforme necessário -->
    </tr>
</table>

<!-- Botão para Visualizar Denuncia Selecionada -->
<button onclick="window.location.href='visualizarDenuncia.html'">Visualizar Denuncia</button>

</body>
</html>