<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="~{base/base-elem :: head-padrao}"></head>
<head>
    <title>Formulário de Cadastro - SIDEA</title>
    <link rel="stylesheet" type="text/css" href="//assets.locaweb.com.br/locastyle/edge/stylesheets/locastyle.css">
    <link rel="stylesheet" href="../../static/css/login.css" th:href="@{'/css/login.css'}">
</head>
    <body>
        <div class="container-sidea">
            
            <div id="divTitle">
                <h1 id="Title">SISTEMA DE DENÚNCIA AMBIENTAL</h1>
            </div>

            <div class="container-login">
                <div class="content first-content">
                    <div class="first-column">
                        <h2 class="title-login title-primary">Bem-vindo de volta!</h2>
                        <p class="description description-primary">Para manter-se conectado conosco,</p>
                        <p class="description description-primary">Faça o login com suas informações pessoais.</p>
                    </div>
                    <div class="div-voltar">
                        <label for="">
                            <a id="link-voltar" th:href="@{'/Login'}">
                                <i class="fas fa-angle-left icon-modify"></i>
                            </a>
                        </label>
                    </div>
                    <div class="second-column">


                        <h2 class="title-login title-second">Cadastro</h2>
    
                        <form class="form formCadastro" action="../Login/criarConta" method="post">
    
                            <!-- Campo Nome -->
                            <div class="campo">
                                <div class="div_atributo">
                                    <label for="nome">Nome:</label>
                                </div>
                                <div class="div_entrada div_cadastro">
                                    <label class="label-input" for="">
                                        <i class="fas fa-user icon-modify"></i>
                                        <input class="input_entrada" type="text" tabindex="1" id="nome" autocomplete="name" name="nome" required>
                                    </label> 
                                </div>
                            </div>
    
                            <!-- Campo E-mail -->
                            <div class="campo">
                                <div class="div_atributo">
                                    <label for="email">E-mail:</label>
                                </div>
                                <div class="div_entrada div_cadastro">
                                    <label class="label-input" for="">
                                        <i class="fas fa-envelope icon-modify"></i>
                                        <input class="input_entrada" type="email" tabindex="2" id="email" autocomplete="email" name="email" required>
                                    </label> 
                                </div>
                            </div>
    
                            <div class="campo">
                                <div class="div_atributo">
                                    <label for="telefone">Telefone:</label>
                                </div>
                                <div class="div_entrada div_cadastro">
                                    <label class="label-input" for="">
                                        <i class="fas fa-phone icon-modify"></i>
                                        <input class="input_entrada cel-sp-mask" type="text" tabindex="3" id="telefone" name="telefone" placeholder="(__) _____-____">
                                    </label>
                                </div>
                            </div>
    
                            <!-- Campo de Telefone com Máscara -->
    
    
    
                            <!-- Campo Login -->
                            <div class="campo">
                                <div class="div_atributo">
                                    <label>CPF:</label>
                                </div>
                                <div class="div_entrada div_cadastro">
                                    <label class="label-input" for="">
                                        <i class="fas fa-address-card icon-modify"></i>
                                        <input class="input_entrada cpf-mask" tabindex="4" data-mask="000.000.000-00" type="text" id="cpf" name="login" autocomplete="off" required>
                                    </label>
                                </div>
                            </div>
                            <!-- Campo Senha -->
                            <div class="campo">
                                <div class="div_atributo">
                                    <label for="senha">Senha:</label>
                                </div>
                                <div class="div_entrada div_cadastro">
                                    <label class="label-input" for="">
                                        <i class="fas fa-key icon-modify"></i>
                                        <input class="input_entrada" type="password" tabindex="5" id="senha" autocomplete="new-password" name="senha" required>
                                    </label> 
                                </div>
                            </div>
    
                            <!-- Botão de Envio -->
                            <div class="div-btn-cadastro">
                                <button type="submit" tabindex="6" class="button btn-primary btn-cadastro">Cadastrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>            
        </div>

        <script type="text/javascript" src="//assets.locaweb.com.br/locastyle/edge/javascripts/locastyle.js"></script>
    </body>
</html>