<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Tela de Login</title>
    <link rel="stylesheet" href="../../static/css/login.css"th:href="@{'/css/login.css'}">
</head>
<body>
    <div class="container">
        <div class="content first-content">
            <div class="first-column">
                <h2 class="title title-primary">Bem-vindo de volta!</h2>
                <p class="description description-primary">Para manter-se conectado conosco,</p>
                <p class="description description-primary">Faça o login com suas informações pessoais.</p>
            </div>
            <div class="second-column">
                <h2 class="title title-second">Login</h2>
                    <form class="form" action="/Login" method="post">
                        <div class="div_entrada">
                            <label class="label-input" for="">
                                <i class="fas fa-user icon-modify"></i>
                                <input type="text" class="input_entrada" autocomplete="cpf" name="cpf" placeholder="CPF">
                            </label>
                        </div>
                        <div class="div_entrada">
                            <label class="label-input" for="">
                                <i class="fas fa-key icon-modify"></i>
                                <input type="password" class="input_entrada" autocomplete="current-password" name="senha" placeholder="Senha">
                            </label> 
                        </div>
                        <a>
                            <button type="submit" id="teste" class="button btn-primary">
                                Entrar
                            </button>
                        </a>
                        
                    </form>
                    <div class="div-form-centralizado">
                        <a th:href="@{'/Login/criarConta'}">
                            <button id="createAccount" class="button btn-second" >
                                criar uma conta
                            </button>
                        </a>
                    </div>
            </div>
        </div>
    </div>
    
    <script th:src="@{'/js/login.js'}"></script>
    <div th:replace="~{base/base-elem :: script-padrao}"></div>
</body>
</html>