<!DOCTYPE html>
<html lang="en">
    <head th:replace="~{base/base-elem :: head-padrao}"></head>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" href="../../static/Home/css/home.css" th:href="@{'/css/home.css'}">
        <title>Home</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                text-align: center;
                margin: 20px;
            }

            button {
                padding: 10px;
                margin: 10px;
                font-size: 16px;
            }
        </style>
    </head>
    <body>

        <h1>Bem-vindo à Plataforma de Denúncias Ambientais</h1>


        <a th:href="@{'/denuncia'}">
            <button id="denuncia" class="button btn-second" >
                Cadastrar Denúncia
            </button>
        </a>
        <!-- Botão para Alterar Usuário -->
        <button onclick="window.location.href='alterar_usuario.html'">Alterar Usuário</button>


        <!-- Botão para Visualizar Denúncias Cadastradas -->
        <button onclick="window.location.href='denuncias_cadastradas.html'">Visualizar Denúncias Cadastradas</button>

        <div th:replace="~{base/base-elem :: script-padrao}"></div>

    </body>
</html>