<!DOCTYPE html>
<html lang="pt-br">
    <head th:replace="~{base/base-elem :: head-padrao}"></head>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" href="../../static/css/home.css" th:href="@{'/css/home.css'}">
        <title>Home - SIDEA</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                text-align: center;
            }

            button {
                padding: 10px;
                margin: 10px;
                font-size: 16px;
            }
        </style>
    </head>
    <body>
        <header th:replace="~{base/base-elem :: header}"></header>

        <div class="bot-header-div">
            <aside th:replace="~{base/base-elem :: sidebar}"></aside>

            <div class="content">
                <h1 class="title is-1 title-form">Bem-vindo à Plataforma de Denúncias Ambientais</h1>

                <div class="box">
                    <h2 class="title is-2">O que você deseja fazer?</h2>


                    <a th:href="@{'/denuncia'}">
                        <button id="denuncia" class="button btn-second" >
                            Cadastrar Denúncia
                        </button>
                    </a>
            
                    <div th:if="${logado.isAdmin(logado)}">
                        <a th:href="@{'usuario/controleUsuarios'}">
                            <button id="Alterar Usuários" class="button btn-second" >
                                Usuários
                            </button>
                        </a>
                    </div>
            
                    <a th:href="@{'/denuncia/visualizar'}">
                        <button id="visualizarDenuncia" class="button btn-second" >
                            Visualizar Denúncias
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <script async="" src="//www.google-analytics.com/analytics.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="//assets.locaweb.com.br/locastyle/2.0.6/javascripts/locastyle.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
        <div th:replace="~{base/base-elem :: script-padrao}"></div>
        <script th:src="@{'/js/home.js'}" src="../../static/js/home.js"></script>
    </body>
</html>