<!DOCTYPE html>
<html lang="en">
    <head th:replace="~{base/base-elem :: head-padrao}"></head>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" href="../../static/css/home.css" th:href="@{'/css/home.css'}">
        <title>Home</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                text-align: center;
                margin: 20px;
            }

            button {
                padding: 10px;
                margin: 10px;
                font-size: 16px;
            }
        </style>
    </head>
    <body>

        <h1 class="title is-1 title-form">Bem-vindo à Plataforma de Denúncias Ambientais</h1>

        <div class="content"> 
            <div class="box">
                <h2 class="title is-2">O que você deseja fazer?</h2>


                <a th:href="@{'/denuncia'}">
                    <button id="denuncia" class="button btn-second" >
                        Cadastrar Denúncia
                    </button>
                </a>
        
                <div th:if="${logado.isAdmin(logado)}">
                    <a th:href="@{'usuario/controleUsuarios'}">
                        <button id="Alterar Usuários" class="button btn-second" >
                            Usuários
                        </button>
                    </a>
                </div>
        
                <a th:href="@{'/denuncia/visualizar'}">
                    <button id="visualizarDenuncia" class="button btn-second" >
                        Visualizar Denúncias
                    </button>
                </a>
            </div>
        </div>
        <div th:replace="~{base/base-elem :: script-padrao}"></div>
    </body>
</html>